<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
    <title>Query Selector</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="/query_output" method="POST">
        <div class="query">
            <input type="checkbox" name="age" id="age"> Age: 
            <span>
            From: <input type="number" name="age_from" min="18" max="80" id="age_from"> &nbsp; To: 
            <input type="number" name="age_to" min="18" max="80" id="age_to">
            </span>
        </div>
        <div class="query"> 
            <input name="gender" type="checkbox" id="gender"> Gender:
            <span> 
            <input name="male" type="checkbox" value="male" id="male"> Male &nbsp; &nbsp;
            <input name="female" type="checkbox" value="female" id="female"> Female
            </span>
        </div>
        <div class="query">
            <input type="checkbox" name="location" id="location"> Location: 
            <span><input name="input_location" type="text" placeholder="Location"></span>
        </div>
        <div class="query">
            <input type="checkbox" name="signup_date" id="signup_date"> Sign-Up Date: 
            <span><input name="input_date" type="date"></span>
        </div>
        <div class="query">
            <input type="checkbox" name="sub_plan" id="sub_plan"> Subscription Plan: 
            <span><input name="input_sub_plan" type="text" size="50" placeholder="Select One: Silver, Gold, Platinum, VIP"></span>
        </div>
        <div class="query">
            <input type="checkbox" name="device" id="device"> Device Type: 
            <span><input name="input_device" type="text" size="50" placeholder="Select One: Smartphone, Laptop, Desktop, Tablet"></span>
        </div>
        <div class="query">
            <input type="checkbox" name="event_1" id="event_1"> Include "Login"
        </div>
        <div class="query">
            <input type="checkbox" name="event_2" id="event_2"> Include "Added To Cart"
        </div>
        <div class="query">
            <input type="checkbox" name="event_3" id="event_3"> Include "Purchased Items"
        </div>
        <div class="query">
            <input type="checkbox" name="time_stamp" id="time_stamp"> Include "Time Stamps of events"
        </div>
        <div>
            <input type="submit" value="Search Query">
        </div>
        
    </form>




</body>
</html>